/*
1. Positions
2. Box Model
3. Typography
4. Visual themes
5. Misc
*/


:root {
    --soft-purple: #F5F1FF;
    --purple: #612999;
    --cucumber: #3E752A;
    --pineapple: #FBC400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-width: 320px;
    margin: 0 auto;
    font-size: 62.5%;
    font-family: 'Varela Round',sans-serif;
    color: var(--purple);
    background-color: var(--soft-purple);
}
header {    
    width: 100%;
    height: 1080px;
    background-image: url('./assets/images/smoothies-low.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

header .header__menu{
    width: 100%;
    min-width: 320px;
    height: 100px;    
    margin: 0px auto;
    align-items: center;
}

header .header__menu-icon {
    margin: 20px 20px;
    width: 34px;
    height: 33px;
    position: fixed;
    background-image: url('./assets/icons/menu-points.svg');
}

.header__links {
    display: none;
}

.header__links li {
    margin: 0 20px;
}

.header__links a {
    text-decoration: none;
    color: white;
}

.header__search-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    min-width: 320px;
    margin: 0 auto;
}

.header__search-container h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 3.2rem;
}

.header__search-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 20px 0;
    color: white;
}

.search__bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.search__title {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

}

.header__search-container input {
    width: 80%;
    height: 40px;
    border-radius: 25px;
    border: none;
    padding: 8px 20px;
    font-size: 1.4rem;
}

.header__search-container input:focus{
    box-shadow: 2px 2px 8px var(--purple);
    outline-style: none;
    outline-color: var(--purple);
}

.header__search-container button {
    width: 50px;
    height: 50px;
    background-color: var(--purple);
    border-radius: 50%;
    border: none;
}

.search__bar .search-icon{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    background-image: url('./assets/icons/search.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

/* Header principal cards*/

.header__principal-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-top: 50px;
}
.header__principal-container article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 150px;
    padding: 0px 10px;
    margin: 15px auto;
    font-family: 'Varela Round', sans-serif;
    border-radius: 15px;
}

.cucumber {background-color: rgba(111, 149, 81, .5);}
.pineapple {background-color: rgba(228, 170, 20, .5);}
.blueberry {background-color: rgba(106, 86, 125, .5);}

.principal-container--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}


.header__principal-container h3 {
    font-size: 2rem;
    color: white;
}

.principal-container--discount {
    display: flex;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.cucumber-discount { background-color: var(--cucumber); }
.pineapple-discount { background-color: var(--pineapple); }
.blueberry-discount { background-color: var(--purple); }

.principal-container--calories {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: white;
    margin: 0;
}

.principal-container--price {
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
    margin: 0 10px;
}